:root {
  --startColor: hsl(0, 100%, 75%);
  --stopColor: hsl(0, 100%, 75%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  place-items: center;
}

svg {
  width: 90vmin;
  height: 90vmin;
}

path {
  cursor: pointer;
}

p {
  position: absolute;
  font-size: 1.125rem;
  font-weight: 500;
  bottom: 1rem;
  right: 1rem;
  color: #fff;
  font-family: system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}